@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}

@keyframes appearEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Display {
  animation: all;
  animation-name: appearEffect;
  animation-duration: 3000ms;
}

.App {
  @apply w-screen h-screen flex justify-center items-center;
}

.CardApp {
  @apply w-[90%] h-[600px] md:w-[45%] xl:w-[35%] rounded-md p-8 flex flex-col justify-between;
}

.CardAppHeader {
  @apply text-blue-500 text-center font-black text-3xl;
}

.CardAppBody {
  @apply mx-auto text-center;
  animation: all;
  animation-name: appearEffect;
  animation-duration: 3000ms;

}

.CardAppFooter {
  @apply mx-auto w-[50%] border-t-[1px] py-2 text-center text-slate-500 mt-[100px];
}

.LoadingContainer {
  @apply w-full h-full flex justify-center items-center p-4;
}

.Loading {
  @apply text-blue-500 animate-spin;
}

.CardWeather {
  @apply my-4;
}

.CardWeather>p {
  @apply text-slate-600 font-mono;
}

.CardLocalization {
  @apply my-4 shadow-md rounded-xl p-4 border;
}

.CardLocalization>p {
  @apply text-slate-500;
}

.Btn {
  @apply border p-4 my-4 rounded-xl bg-slate-500 text-white;
}

.Btn:hover {
  background-color: rgba(37, 99, 235, 1);
  color: white;
  transition: .3s;
}